{{#if success}}
    <div class="alert alert-success">
        {{success}}
        <p>X</p>
    </div>
{{/if}}

{{#if error}}
    <div class="alert alert-danger">
        {{error}}
        <p>X</p>
    </div>
{{/if}}