<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if css}}
        <link rel="stylesheet" href="/css/{{css}}">
    {{/if}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <title>Fórum Online</title>
</head>
<body>
    {{>_navbar}}
    {{>_msg}}
    <div>
        {{{ body }}}
    </div>
</body>

{{#if js}}
    <script src="js/{{js}}"></script>
{{/if}}
<script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
</html>